.edit{
    cursor: pointer
}

.move{
    cursor: move
}

.add-button{
    cursor: pointer
}

.remove{
    cursor: not-allowed
}

.hide{
    display: none
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus{
    border: black;
    border-style: solid;
}

tr{
    height: 22px;
}

a.btn{
    padding: 0px 0px;
}

.red{
    color: red;
}

.menu {
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    min-width: 160px;
    background-color: #fff;
    display: none;
    position: relative;
    list-style-type: none;
    padding: 5px 0 0;
    margin: 2px 0 0;
}

.menu > li > a{
    color: #333;
    font-weight: 400;
    line-height: 1.42857143;
    display: block;
    clear: both;
    padding: 3px 20px;
    white-space: nowrap;
    text-decoration: none;
}

.menu > li > a:hover{
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}